body{
	background: #FFC514;
}
h1{
	text-align: center;
	font-family: 'Arial Black';
}
input.valor1{
	border-radius: 5px;
	outline: none;
	background: #2BE4FF;
	border:none;
}
input.valor2{
border-radius: 5px;
	outline: none;
	background: #2BE4FF;
	border:none;
	
}
